h4 {
  font-family: serif;
}

h3 {
  font-family: serif;
}
#copyright {
  font-family: "Bona Nova SC", serif;
}
#navbar {
  font-family: "Bona Nova SC", serif;
}
h1 {
  font-family: "Yatra One", serif;
}

h6 {
  font-family: "Yatra One", serif;
}

body {
  font-family: "Lato", serif;
}
#portfolioGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
